extends ../../lesson.pug

block lessonVars
    - var back = '/html/1.0.html';
    - var next = '/html/2.1.html';
    - var type = 'HTML'
block lesson
    :markdown-it
        # HTML - базовые теги. Часть 1

        ## Параграф `<p>`

        Для того, чтобы писать текст в HTML, есть такой тег `<p>`.
        
        В него нужно всего лишь написать текст:
        ```html
        <p>Ваш текст</p>
        ```
        
        ## Стилистика текста `<b>`, `<i>`, `<u>` и `<s>`
        ### `<b>`

        Для того, чтобы сделать текст **жирным**, есть тег `<b>` или `<strong>`:
        ```html
        <b>Жирный</b> текст
        ```
        Результат:
        **жирный** текст

        ### `<i>`

        Для того, чтобы сделать текст *курсивом* есть тег `<i>` или `<em>`:
        ```html
        <i>Курсивный</i> текст
        ```
        Результат: *курсивный* текст.

        ### `<u>`
        Подчеркивать текст можно тегом `u`:
        ```html
        <u>Подчеркнутый текст</u>
        ```

        ### `<s>`
        ~~Выделять~~ Зачеркивать текст можно тегом `<s>`:
        ```html
        <s>Хороший</s> Плохой текст
        ```
        Результат: ~~Хороший~~ Плохой текст
        
        ## Продолжение на следующей странице...
        
        