extends ../../lesson.pug

block lessonVars
    - var back = '/html/2.0.html';
    - var next = '/html/3.0.html';
    - var type = 'HTML'
block lesson
    :markdown-it
        # HTML - базовые теги. Часть 2
        
        ## Списки `<ul>` и `<ol>`
        
        `<ul>` - unordered list (неупорядоченный список) - тег
        для списков без номеров.
        - HTML
        - CSS
        - JS
        
        `<ol>` - ordered list (упорядоченный список) - тег для
        списков с номерами:

        1. HTML
        2. CSS

        В ul и ol нужно класть теги li (list item):
        ```html
        <ol>
            <li>HTML</li>
            <li>CSS</li>
        </ol>
        ```

        ## Ссылки
        Ссылка на HTML пишется так:
        ```html
        <a href="http://google.com/">Кликни сюда</a>
        ```

        Результат: [Кликни сюда](http://google.com/)
        ## `<div>`
        Элемент `<div>` - это просто блок. В него вы можете поместить
        всё что угодно и придать ему стиль в CSS.
        ## Семантические теги
        Семантические теги как `<div>` - просто блоки. Они придуманы для того, чтобы поисковой робот,
        например Google или Яндекс, понимал, что за часть сайта в этом теге.

        Список тегов:
        1. header - шапка сайта
        2. footer - подвал сайта (часть сайта внизу)
        3. nav - навигация
        4. article - статья
        5. section - секция
        6. aside - группирует содержимое, связанное с основным контентом
        7. address - контактная информация
        8. main - основное содержимое
        9. figure - автономный контентом
        10. figcaption - потомок figure, заголовок
        11. time - время
        12. mark - выделение текста