extends ../../lesson.pug

block lessonVars
    - var back = '/webLearn/html/2.1.html';
    - var next = null;
    - var type = 'HTML'
block lesson
    :markdown-it
        # Итог
        ~~Поздравляем вы выучили HTML!~~
        В этом курсе собрана лишь базовая информация.

        Последующие курсы CSS и JS укрепят в вашей голове эти знания и
        добавят новых.