doctype html
html
    head
        title WebLearn - Научитесь веб-разработке легко!
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/webLearn/css/main.css')
        link(rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css")
        script(src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js")
        script(data-ad-client="ca-pub-5678128842101270" async=true src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        block styles
        meta(name='description', content='WebLearn - это интерактивный учебник, который поможет вам изучить веб-разработку')
        meta(name='robots', content="index, follow")
        meta(name='keywords', content="Web, разработка, HTML, CSS, JS, Бартоломей, Георгий, веб, учебник, интерактивный")
    body
        block content
        footer 
            include ./footer.pug
        block scripts
        script.
            hljs.initHighlightingOnLoad(); 