doctype html
html
    head
        title jsLearn
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/main.css')
        link(rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css")
        script(src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js")

        block styles

    body
        block content
        footer 
            include ./footer.pug
        block scripts
        script.
            hljs.initHighlightingOnLoad(); 