extends layout.pug


block styles
    link(rel='stylesheet', href='/css/page.css')
block content
    a(href='/') Главная
    block lessonVars
    block lesson

    div.floating-box
        if back
            a(href=back) Назад
        div=type
        if next
            a(href=next) Вперед
        else
            a(href='/') Выбор курса
