extends layout.pug


block styles
    link(rel='stylesheet', href='/webLearn/css/page.css')
block content
    a(href='/webLearn/') Главная
    block lessonVars
    block lesson

    |<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    |<ins class="adsbygoogle"
    |   style="display:block; text-align:center;"
    |   data-ad-layout="in-article"
    |   data-ad-format="fluid"
    |   data-ad-client="ca-pub-5678128842101270"
    |   data-ad-slot="3556830732"></ins>
    |<script>
    |   (adsbygoogle = window.adsbygoogle || []).push({});
    |</script>
    div.floating-box
        if back
            a(href=back) Назад
        div=type
        if next
            a(href=next) Вперед
        else
            a(href='/') Выбор курса
